[Unit]
Description=Gunicorn instance to serve coreai app
After=network.target

[Service]
User=coreai
Group=www-data
WorkingDirectory=/home/coreai
Environment="PATH=/home/flask-server/.conda/envs/coreai/bin"
ExecStart=/home/coreai/.conda/envs/coreai/bin/gunicorn --bind unix:/home/coreai/gunicorn.sock -w 2 --threads 2 -m 007 --reload --timeout=100 wsgi:app

[Install]
WantedBy=multi-user.target
