<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"></script>
    <title>Document</title>
</head>
<body>
    <script>

        var socket = io.connect('ws://127.0.0.1:5000')
        socket.on('connect',(data)=>{
            console.log(data)
            socket.emit('my event',{data:'asdasd'})
        })
        socket.on('my response',(msg)=>{
            console.log(msg)
        })
    </script>
    socket test
    <input type="text" class='asdas'/>
    <button class='submit'>asd</button>
    <script>
        document.querySelector('.submit').addEventListener('click',(e)=>{

            var val = document.querySelector('.asdas').value
            socket.emit('my event',{data:val})
        })
    </script>
</body>
</html>