header{
    width:calc(100% - 2rem);
    height:56px;
    display: flex;
    align-items: center;
    margin:0 1rem;
    gap:1.2rem;

}

.header-item{
    height:100%;
}
.header-item img{
    max-height: 100%;
}

#title{
    display: flex;
    align-items: center;
}
#title span{
    font-family: "Anton",sans-serif;
    font-size:1.875rem;
}

#sns{
    justify-self:flex-end;
    margin-left: auto;
}

#map{
    width:100%;
    height:calc(100% - 56px);
}



@media (max-width:540px) {
    html{
        font-size:12px;
    }
    header{
        height:42px;
    }
    #map{
        height:calc(100% - 42px);
    }

}