#main{
    font-family: "Anton",sans-serif;
    font-size:8rem;
}

#project-list{
    font-size:4rem;
}
#project-list span{
    margin:20px;
}

#project-list li{
    font-size:2rem;
    margin:40px;
}