@mixin common($fd:row, $gap:0px) {
    display: flex;
    gap: $gap;
    flex-direction: $fd;
}


.table {
    &-section {
        overflow: auto;
    }

    &-column {
        @include common($fd:column);

        .table-item {
            @include common($gap:5px);
        }
    }

    &-column-row {
        @include common($fd:column);

        .table-item {
            @include common($gap:5px);
        }
    }

    &-row {
        @include common;

        .table-item {
            @include common($fd:column, $gap:5px);
        }

    }

    &-row-column {
        @include common;

        .table-item {
            @include common($fd:column, $gap:5px);
        }

    }
}

.table-item {
    &-header {
        display: inline-block;
        background-color: #000;
        color: white;
        padding: 10px;
        text-overflow: ellipsis;
        white-space: nowrap; 
        width:100px;
    }

    &-value {
        padding: 10px;

    }
}

@media screen and (min-width:500px) {


    .table {
        &-column-row {
            @include common($fd:row);

            .table-item {
                @include common($fd:column, $gap:5px);
            }
        }

        &-row-column {
            @include common($fd:column);

            .table-item {
                @include common($gap:5px);
            }

        }
    }

}